<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 1 Questions</title>
    
</head>
<body>
    <h1>Level 1 Questions for Course: <span th:text="${course.name}"></span></h1>
    
    <div th:each="question : ${level1Questions}">
        <div class="question">
            <h2 th:text="${question.title}"></h2>
            <p th:text="${question.question}"></p>
           
        </div>
    </div>
    
   
</body>
</html>
 -->